/* general styling */
h1 {
	font-size: 30px;
}
.grid-container-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 7px;
	padding-bottom: 10px;
}
.grid-container-1 {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 7px;
	padding-bottom: 10px;
}
.grid-container-1 img, .grid-container-2 img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 90vh;
}
